PORT=5000
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/tn_edu_db?schema=public"
JWT_SECRET="tn_edu_super_secret_jwt_access_key_2026"
JWT_REFRESH_SECRET="tn_edu_super_secret_jwt_refresh_key_2026"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
CORS_ORIGIN="http://localhost:4200"
